:root {
    --beige: #c6b9a0;
    --green: #0d4c4c;
}

* {
    box-sizing: border-box
}

body {
    background-image: url('imgs/bg2.jpg');
    color: white
}
nav img {
    display:block;
    margin:auto;
}
#main {
    display: grid;
    grid-template-columns: [line1] 25% [line2] 50% [line3] 25% [line4];
}
/*tokens section*/
#tokens {
    width: 300px;
    margin-bottom:40px;
}

.tokenHeader {
    font-size:20px;
    font-weight: 700;
    margin-left:5%;
}

#tokens input {
    background-color: rgba(255,255,255,.4);
    height:25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center
}

.tokenEl {
    display: grid;
    grid-template-columns: [line1] 30% [line2] 25% [line3] 25% [line4] 20% [line5];
    align-items: center;
    gap: 15px 10px;
}

.tokenEl img {
    display:block;
    margin: auto;
}

.tokenImg {
    width: 50px;
    height: auto
}

.tokenNext {
    justify-self: center;
    width:25%;
}
/* bag */
#create {
    display: block;
    margin: 10px auto;
    width: 40%;
    font-size: 20px;
    background-color: var(--beige);
    box-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px var(--green), 3px -3px var(--green), -3px 3px var(--green), -3px -3px var(--green), 5px 5px #06322d, 5px -5px #06322d, -5px 5px #06322d, -5px -5px #06322d, 6px 6px black, 6px -6px black, -6px 6px black, -6px -6px black
}

#bagContainer {
    position: relative;
    display: grid
}
#bagImg {
    display: block;
    margin: 5% auto;
    width:100%;
    height: auto;
    opacity: .8
}
#bagTokens {
    position: absolute;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(7, 14% [line]);
    grid-template-rows: repeat( 25% [line]);
    align-self: end;
    justify-self: center;
    z-index: 1;
    padding: 15% 10%;
}
    #bagTokens img {
        width: 90%;
        display: inline-block;
        margin: auto;
        justify-self: center;
    }

/* test info */
#testAndResult {
    font-size:20px
}
#testAndResult section {
    background-color: 
}
#test {
    width: 300px
}
#test div {
    display: grid;
    grid-template-columns: [line1] 40% [line2] 30% [line3];
}

    /* results section */
#results {
    width: 300px;
    display: grid;
    grid-template-columns: [line1] 45% [line2] 30% [line3];
    grid-template-rows: repeat(5, 30px [row]);
    row-gap: 8px;
    column-gap:15px;
}
#resultsHeader {
    grid-column-start: line1;
    grid-column-end: line3;
    justify-self: center;
}

#preview {
    width:300px;
    display: grid;
    grid-template-columns: [line1] 45% [line2] 30% [line3];
    grid-template-rows: repeat(10, 30px [row]);
    grid-row-gap:8px;
    grid-column-gap: 15px;
}

#prevHeader {
    grid-column-start: line1;
    grid-column-end: line3;
    justify-self: center;
    border-bottom: 3px solid #0d4c4c
}
/*    #prevHeader:after {
        content: '';
        width: 150px;
        height: 50px;
        background-color: red;
    }*/