:root {
    --beige: #c6b9a0;
    --green: #0d4c4c;
    --shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 
        3px 3px var(--green), 3px -3px var(--green), -3px 3px var(--green), -3px -3px var(--green), 
        5px 5px #06322d, 5px -5px #06322d, -5px 5px #06322d, -5px -5px #06322d, 
        6px 6px black, 6px -6px black, -6px 6px black, -6px -6px black
}

* {
    box-sizing: border-box
}

body {
    background-image: url('imgs/bg2.jpg');
    color: white
}

nav { margin-top:-20px}
nav img {
    display:block;
    margin:auto;
    max-width:100%;
}
#main {
    display: grid;
    grid-template-columns: [line1] 25% [line2] 50% [line3] 25% [line4];
}
/*tokens section*/
.showImg {
    position: absolute;
    opacity:1;
    z-index:1
}
.showImg:first-child {
    opacity: 0
}
#tokens {
    width: 300px;
    margin-bottom: 40px;
    z-index: 1;
    position: relative
}

.tokenHeader {
    font-size:20px;
    font-weight: 700;
    margin-left:5%;
}

#tokens input {
    background-color: rgba(255,255,255,.4);
    height:25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center
}

.tokenEl {
    display: grid;
    grid-template-columns: [line1] 30% [line2] 25% [line3] 25% [line4] 20% [line5];
    align-items: center;
    gap: 15px 10px;
}

.tokenEl img {
    display:block;
    margin: auto;
}

.tokenImg {
    width: 50px;
    height: auto
}

.tokenNext {
    justify-self: center;
    width:25%;
}
/* bag */
.button {
    display: block;
    margin: 10px auto;
    color: var(--green);
    width: 40%;
    font-size: 20px;
    background-color: var(--beige);
    box-shadow: var(--shadow);
    border-radius:5px;
}
#calc {
    font-size: 18px;
    width: 30%;
}
#buttonsBag {
    position: absolute;
    width: 35%;
    top: 33%;
    left: 30%;
    padding: 3px;
    display: grid;
    grid-template-columns: [line1] 50% [line2] 50% [line3];
    z-index:1
}
#draw, #add {
    width:60%
}
#bagContainer {
    position: relative;
    display: grid
}
#bagImg {
    display: block;
    margin: 5% auto;
    max-width:100%;
    height: auto;
    opacity: .8
}
#bagTokens {
    position: absolute;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(7, 14% [line]);
    grid-template-rows: repeat( 20% [line]);
    align-self: end;
    justify-self: center;
    z-index: 1;
    padding: 15% 10%;
}
    #bagTokens img {
        width: 100%;
        display: inline-block;
        margin: auto;
        justify-self: center;
    }

/* test info */
#testAndResult {
    font-size: 20px;
    justify-self: center;
}
#testAndResult section {
    background-color: var(--green);
    box-shadow: var(--shadow);
    padding: 0 10px
}
#test {
    width: 300px;
    display: grid;
    grid-gap: 5px;
    padding-top:10px;
}
#test input {
    background-color: rgba(255,255,255,.4);
    height:25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}
    #test div {
        display: grid;
        grid-template-columns: [line1] 50% [line2] 30% [line3];
        justify-content: space-between
    }

    /* results section */
#results {
    width: 300px;
    display: grid;
    grid-template-columns: [line1] 50% [line2] 30% [line3];
    grid-template-rows: repeat(5, 25px [row]);
    row-gap: 5px;
    column-gap: 15px;
    justify-content: space-between
}
.resultsHeader {
    grid-column-start: line1;
    grid-column-end: line3;
    justify-self: center;
    margin-top:10px;
}

#preview {
    width: 300px;
    display: grid;
    grid-template-columns: [line1] 50% [line2] 30% [line3];
    grid-template-rows: repeat(5, 25px [row]);
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    justify-content: space-between
}
